html{
    background-color:black;
}

h1{
    color: yellow;
    display:flex;
    justify-content:center;
}
h3{
    color:yellow;
    display:flex;
    justify-content:center;
}

button{
    display:flex;
    justify-content:center;
    margin: 20%;
}